# Files #
###################
*.o
*.odt#
*.iso
*.vdi

# Folders #
###################
1º/LMD/Prácticas
2º/SO/Bibliografía
3º/ISE/Prácticas/Máquinas virtuales
3º/ISE/Prácticas/P4
3º/SMD/Prácticas
4º/IN/Prácticas
4º/IN/Prácticas/Datos
4º/IN/Prácticas/knime_5.7.0
4º/IN/Prácticas/Knime
4º/IN/Prácticas/Example Workflows
4º/IN/Seminarios
