[submodule "2º/IA/Prácticas/25-26/P2"]
	path = 2º/IA/Prácticas/25-26/P2
	url = https://github.com/mauricioluquejimenez/P2.git

[submodule "2º/IA/Prácticas/25-26/P3"]
	path = 2º/IA/Prácticas/25-26/P3
	url = https://github.com/mauricioluquejimenez/P3.git
