# Files #
###################
*.o
*.odt#
*.iso
*.vdi

# Folders #
###################
1º/LMD/Prácticas
2º/SO/Bibliografía
2º/SO/Prácticas/ubuntuSO
3º/ISE/Prácticas/Máquinas virtuales
3º/ISE/Prácticas/P4
3º/SMD/Prácticas
4º/IN/knime_5.7.0
4º/IN/Prácticas/KNIME
4º/IN/Prácticas/Años anteriores