# Files #
###################
*.o
*.odt#

# Folders #
###################
2º/SO/Bibliografía
3º/ISE/Prácticas/Máquinas virtuales
3º/ISE/Prácticas/P4
3º/SMD/Prácticas
4º/IN/Prácticas/Datos
4º/IN/Prácticas/Seminarios
4º/IN/Prácticas/knime_5.3.2
4º/IN/Prácticas/Example Workflows