<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="generateImage" type="xboolean" value="false"/>
        <entry key="width" type="xint" value="800"/>
        <entry key="height" type="xint" value="600"/>
    </config>
    <config key="view">
        <config key="targetColumn">
            <entry key="selected" type="xstring" value="Type"/>
            <config key="compatibleTypes_Internals">
                <entry key="array-size" type="xint" value="3"/>
                <entry key="0" type="xstring" value="org.knime.core.data.StringValue"/>
                <entry key="1" type="xstring" value="org.knime.core.data.DataValue"/>
                <entry key="2" type="xstring" value="org.knime.core.data.NominalValue"/>
            </config>
        </config>
        <entry key="positiveClassValue" type="xstring" value="R"/>
        <config key="predictionColumns">
            <config key="selected_Internals">
                <entry key="array-size" type="xint" value="2"/>
                <entry key="0" type="xstring" value="P (Type=R)"/>
                <entry key="1" type="xstring" value="P (Type=R) (#1)"/>
            </config>
            <entry key="mode" type="xstring" value="MANUAL"/>
            <config key="patternFilter">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="isCaseSensitive" type="xboolean" value="false"/>
                <entry key="isInverted" type="xboolean" value="false"/>
            </config>
            <config key="manualFilter">
                <config key="manuallySelected">
                    <entry key="array-size" type="xint" value="2"/>
                    <entry key="0" type="xstring" value="P (Type=R)"/>
                    <entry key="1" type="xstring" value="P (Type=R) (#1)"/>
                </config>
                <config key="manuallyDeselected">
                    <entry key="array-size" type="xint" value="122"/>
                    <entry key="0" type="xstring" value="Band1"/>
                    <entry key="1" type="xstring" value="Band2"/>
                    <entry key="2" type="xstring" value="Band3"/>
                    <entry key="3" type="xstring" value="Band4"/>
                    <entry key="4" type="xstring" value="Band5"/>
                    <entry key="5" type="xstring" value="Band6"/>
                    <entry key="6" type="xstring" value="Band7"/>
                    <entry key="7" type="xstring" value="Band8"/>
                    <entry key="8" type="xstring" value="Band9"/>
                    <entry key="9" type="xstring" value="Band10"/>
                    <entry key="10" type="xstring" value="Band11"/>
                    <entry key="11" type="xstring" value="Band12"/>
                    <entry key="12" type="xstring" value="Band13"/>
                    <entry key="13" type="xstring" value="Band14"/>
                    <entry key="14" type="xstring" value="Band15"/>
                    <entry key="15" type="xstring" value="Band16"/>
                    <entry key="16" type="xstring" value="Band17"/>
                    <entry key="17" type="xstring" value="Band18"/>
                    <entry key="18" type="xstring" value="Band19"/>
                    <entry key="19" type="xstring" value="Band20"/>
                    <entry key="20" type="xstring" value="Band21"/>
                    <entry key="21" type="xstring" value="Band22"/>
                    <entry key="22" type="xstring" value="Band23"/>
                    <entry key="23" type="xstring" value="Band24"/>
                    <entry key="24" type="xstring" value="Band25"/>
                    <entry key="25" type="xstring" value="Band26"/>
                    <entry key="26" type="xstring" value="Band27"/>
                    <entry key="27" type="xstring" value="Band28"/>
                    <entry key="28" type="xstring" value="Band29"/>
                    <entry key="29" type="xstring" value="Band30"/>
                    <entry key="30" type="xstring" value="Band31"/>
                    <entry key="31" type="xstring" value="Band32"/>
                    <entry key="32" type="xstring" value="Band33"/>
                    <entry key="33" type="xstring" value="Band34"/>
                    <entry key="34" type="xstring" value="Band35"/>
                    <entry key="35" type="xstring" value="Band36"/>
                    <entry key="36" type="xstring" value="Band37"/>
                    <entry key="37" type="xstring" value="Band38"/>
                    <entry key="38" type="xstring" value="Band39"/>
                    <entry key="39" type="xstring" value="Band40"/>
                    <entry key="40" type="xstring" value="Band41"/>
                    <entry key="41" type="xstring" value="Band42"/>
                    <entry key="42" type="xstring" value="Band43"/>
                    <entry key="43" type="xstring" value="Band44"/>
                    <entry key="44" type="xstring" value="Band45"/>
                    <entry key="45" type="xstring" value="Band46"/>
                    <entry key="46" type="xstring" value="Band47"/>
                    <entry key="47" type="xstring" value="Band48"/>
                    <entry key="48" type="xstring" value="Band49"/>
                    <entry key="49" type="xstring" value="Band50"/>
                    <entry key="50" type="xstring" value="Band51"/>
                    <entry key="51" type="xstring" value="Band52"/>
                    <entry key="52" type="xstring" value="Band53"/>
                    <entry key="53" type="xstring" value="Band54"/>
                    <entry key="54" type="xstring" value="Band55"/>
                    <entry key="55" type="xstring" value="Band56"/>
                    <entry key="56" type="xstring" value="Band57"/>
                    <entry key="57" type="xstring" value="Band58"/>
                    <entry key="58" type="xstring" value="Band59"/>
                    <entry key="59" type="xstring" value="Band60"/>
                    <entry key="60" type="xstring" value="P (Type=M)"/>
                    <entry key="61" type="xstring" value="Band1 (#1)"/>
                    <entry key="62" type="xstring" value="Band2 (#1)"/>
                    <entry key="63" type="xstring" value="Band3 (#1)"/>
                    <entry key="64" type="xstring" value="Band4 (#1)"/>
                    <entry key="65" type="xstring" value="Band5 (#1)"/>
                    <entry key="66" type="xstring" value="Band6 (#1)"/>
                    <entry key="67" type="xstring" value="Band7 (#1)"/>
                    <entry key="68" type="xstring" value="Band8 (#1)"/>
                    <entry key="69" type="xstring" value="Band9 (#1)"/>
                    <entry key="70" type="xstring" value="Band10 (#1)"/>
                    <entry key="71" type="xstring" value="Band11 (#1)"/>
                    <entry key="72" type="xstring" value="Band12 (#1)"/>
                    <entry key="73" type="xstring" value="Band13 (#1)"/>
                    <entry key="74" type="xstring" value="Band14 (#1)"/>
                    <entry key="75" type="xstring" value="Band15 (#1)"/>
                    <entry key="76" type="xstring" value="Band16 (#1)"/>
                    <entry key="77" type="xstring" value="Band17 (#1)"/>
                    <entry key="78" type="xstring" value="Band18 (#1)"/>
                    <entry key="79" type="xstring" value="Band19 (#1)"/>
                    <entry key="80" type="xstring" value="Band20 (#1)"/>
                    <entry key="81" type="xstring" value="Band21 (#1)"/>
                    <entry key="82" type="xstring" value="Band22 (#1)"/>
                    <entry key="83" type="xstring" value="Band23 (#1)"/>
                    <entry key="84" type="xstring" value="Band24 (#1)"/>
                    <entry key="85" type="xstring" value="Band25 (#1)"/>
                    <entry key="86" type="xstring" value="Band26 (#1)"/>
                    <entry key="87" type="xstring" value="Band27 (#1)"/>
                    <entry key="88" type="xstring" value="Band28 (#1)"/>
                    <entry key="89" type="xstring" value="Band29 (#1)"/>
                    <entry key="90" type="xstring" value="Band30 (#1)"/>
                    <entry key="91" type="xstring" value="Band31 (#1)"/>
                    <entry key="92" type="xstring" value="Band32 (#1)"/>
                    <entry key="93" type="xstring" value="Band33 (#1)"/>
                    <entry key="94" type="xstring" value="Band34 (#1)"/>
                    <entry key="95" type="xstring" value="Band35 (#1)"/>
                    <entry key="96" type="xstring" value="Band36 (#1)"/>
                    <entry key="97" type="xstring" value="Band37 (#1)"/>
                    <entry key="98" type="xstring" value="Band38 (#1)"/>
                    <entry key="99" type="xstring" value="Band39 (#1)"/>
                    <entry key="100" type="xstring" value="Band40 (#1)"/>
                    <entry key="101" type="xstring" value="Band41 (#1)"/>
                    <entry key="102" type="xstring" value="Band42 (#1)"/>
                    <entry key="103" type="xstring" value="Band43 (#1)"/>
                    <entry key="104" type="xstring" value="Band44 (#1)"/>
                    <entry key="105" type="xstring" value="Band45 (#1)"/>
                    <entry key="106" type="xstring" value="Band46 (#1)"/>
                    <entry key="107" type="xstring" value="Band47 (#1)"/>
                    <entry key="108" type="xstring" value="Band48 (#1)"/>
                    <entry key="109" type="xstring" value="Band49 (#1)"/>
                    <entry key="110" type="xstring" value="Band50 (#1)"/>
                    <entry key="111" type="xstring" value="Band51 (#1)"/>
                    <entry key="112" type="xstring" value="Band52 (#1)"/>
                    <entry key="113" type="xstring" value="Band53 (#1)"/>
                    <entry key="114" type="xstring" value="Band54 (#1)"/>
                    <entry key="115" type="xstring" value="Band55 (#1)"/>
                    <entry key="116" type="xstring" value="Band56 (#1)"/>
                    <entry key="117" type="xstring" value="Band57 (#1)"/>
                    <entry key="118" type="xstring" value="Band58 (#1)"/>
                    <entry key="119" type="xstring" value="Band59 (#1)"/>
                    <entry key="120" type="xstring" value="Band60 (#1)"/>
                    <entry key="121" type="xstring" value="P (Type=M) (#1)"/>
                </config>
                <entry key="includeUnknownColumns" type="xboolean" value="false"/>
            </config>
            <config key="typeFilter">
                <config key="selectedTypes">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
            </config>
        </config>
        <entry key="maxPoints" type="xint" value="2500"/>
        <entry key="title" type="xstring" value="ROC Curve"/>
        <entry key="xAxisLabel" type="xstring" value="False positive rate (1 - specificity)"/>
        <entry key="yAxisLabel" type="xstring" value="True positive rate (sensitivity)"/>
        <entry key="lineSize" type="xint" value="2"/>
        <entry key="legendPosition" type="xstring" value="INSIDE_PLOT"/>
        <entry key="allowImageDownload" type="xboolean" value="true"/>
        <entry key="enableAnimation" type="xboolean" value="true"/>
        <entry key="enableDataZoom" type="xboolean" value="true"/>
        <entry key="showTooltip" type="xboolean" value="true"/>
    </config>
    <config key="view_variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.views.node.roccurve.ROCCurveNodeFactory"/>
    <entry key="node-name" type="xstring" value="ROC Curve"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Views"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base.views"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.2.v202409040940"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Views"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.views.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.2.v202409040940"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="Input Table"/>
        <config key="Output Image"/>
    </config>
    <entry key="name" type="xstring" value="ROC Curve"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="internalObjects">
        <entry key="location" type="xstring" value="internalTables"/>
        <config key="content">
            <config key="object_0">
                <entry key="index" type="xint" value="0"/>
                <entry key="type" type="xstring" value="table"/>
                <entry key="table_dir_location" type="xstring" value="object_0"/>
            </config>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="bb44f6b1-1762-4d27-8c48-08cd4b419393"/>
    </config>
</config>
